.body-cv {
    margin-left: 25%;
    margin-bottom: 15vh;
}

.A4 {
    position: static;
    width: 600px;
    height: 100%;
    margin-right: 0;
    margin-top: 10vh;
    margin-bottom: 10vh;
    background-color: rgb(255, 255, 255);
}

.titulo {
    margin: 5vh;
    font-size: 25px;
}

.sub-titulo {
    margin: 10vh;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

hr {
    display: block;
    color: black;
    position: static;
}

.container-A4 {
    display: flex;
}

.grid-container {
    margin: 10vh;
    margin-bottom: 10vh;
}