@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Shadows+Into+Light&display=swap');

:root {
  --color-header-footer: #1d1d1d;
  --background-color: #1b1b1b;
  --text-color-light: #d3d3d3;
  --text-color-footer: #00ff00;
}

* {
  box-sizing: border-box;
  font-family: 'Macondo', cursive;
}

html,
body {
  background-color: var(--background-color);
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

span {
  color: var(--text-color-light);
}