.flex-container {
    display: flex;
    position: static;
    margin: 0;
    padding: 2vh;
    top: 2vh;
    bottom: 3vh;
    flex-wrap: wrap;
    justify-content: space-around;
}

.grid1 {
    margin: 0;
    padding: 5vh;
    width: 600px;
    height: 700px;
    top: 3vh;
    background-color: transparent;
    color: #fff;
}

.grid1 h1 {
    font-size: 50px;
}

.grid1 h2 {
    font-size: 25px;
    text-transform: none;
    justify-content: left;
    text-align: justify;
}

.bg-photo img {
    background: linear-gradient(#1b1b1b 30%, #000000 130%);
    display: flex;
    right: 0;
    width: 400px;
    height: 400px;
    left: 1rem;
    border-radius: 50%;
    justify-content: center;
    top: 10vh;
}

.view {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: end;
    top: 3vh;
}

.view-CV {
    font-size: 25px;
    color: var(--text-color-footer);
    width: fit-content;
    margin: 10px;
}

.view-CV:hover {
    color: #ff0000;
}

.title-skill {
    display: flex;
    font-size: 50px;
    color: var(--text-color-footer);
    justify-content: center;
    align-items: center;
}

.skill h2 {
    color: var(--text-color-light);
    font-size: 20px;
}

.container-skill {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
}

section {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    min-height: 200vh;
    background: #350048;
}

section::before {
    content: '';
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
    height: 50px;
    background: #caaad6;
}

.container-skill {
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container-skill .card-skill {
    position: relative;
    width: 250px;
    height: 300px;
    text-align: center;
    z-index: 10;
    margin: 20px 20px 60px;
}

.container-skill .card-skill .box-skill {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 
    1px 1px 1px white,
    15px 15px 14px rgba(0, 0, 0, 0.753);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    z-index: 10;
    border-radius: 10px;
}

.percent {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    z-index: 100;
}

.percent .number {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.percent .number h2 {
    color: #fff;
    font-weight: 700;
    font-size: 60px;
}

.percent .number h2 h3 {
    font-size: 40px;
}

.text-skill {
    position: absolute;
    bottom: -32px;
    left: 23%;
    transform: translateX(-10%);
    text-align: center;
    justify-content: center;
    padding: 30px 20px 10px;
    background: #fff;
    border-radius: 10px;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.733);
    z-index: 1;
    pointer-events: none;
    transition: bottom 0.5s, z-index 0s, transform 0.5s, padding 0.5s;
    transition-delay: 0.5s, 0.5s, 0s, 0.5s;
    color: #fff;
}

.card-skill:hover .text-skill {
    transition-delay: 0s, 0.5s, 0.5s, 0s;
    bottom: -55px;
    z-index: 15;
    transform: translateX(-50%) translateY(-50%);
    padding: 10px 20px 10px;
}

.card-skill:nth-child(1) .text-skill {
    background-color: #d43900;
}

.card-skill:nth-child(2) .text-skill {
    background-color: #1414ff;
}

.card-skill:nth-child(3) .text-skill {
    background-color: #ffd000;
}

.card-skill:nth-child(4) .text-skill {
    background-color: #00e1ff;
}

.card-skill:nth-child(5) .text-skill {
    background-color: #d400ff;
}

svg {
    position: relative;
    width: 150px;
    height: 150px;
}

svg circle {
    width: 100%;
    height: 100%;
    fill: none;
    stroke-width: 10;
    stroke: rgba(255, 255, 255, 0.05);
    transform: translate(5px, 5px);
    stroke-linecap: round;
}

svg circle:nth-child(2) {
    stroke: #fff;
    stroke-dasharray: 440px;
    stroke-dashoffset: 440px;
}

.card-skill:nth-child(1) svg circle:nth-child(2) {
    stroke-dashoffset: calc(440px - (440px * 82) / 100);
}

.card-skill:nth-child(2) svg circle:nth-child(2) {
    stroke-dashoffset: calc(440px - (440px * 80) / 100);
}

.card-skill:nth-child(3) svg circle:nth-child(2) {
    stroke-dashoffset: calc(440px - (440px * 35) / 100);
}

.card-skill:nth-child(4) svg circle:nth-child(2) {
    stroke-dashoffset: calc(440px - (440px * 40) / 100);
}

.card-skill:nth-child(5) svg circle:nth-child(2) {
    stroke-dashoffset: calc(440px - (440px * 40) / 100);
}